body {
  background-color: #8c1616a2;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  color: #f5f4f4;
  text-align: center;
}

.titulo-principal {
  background: linear-gradient(90deg, #ff7b0084, #732e2e, #000000);
  padding: 25px;
  font-size: 56px;
  margin: 0;
  letter-spacing: 1px;
  box-shadow: 0 2px 10px rgba(250, 253, 54, 0.226);
}

.subtitulo {
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 33px;
  font-weight: bold;
}

.imagem-supermercado {
  width: 420px;
  max-width: 90%;
  border-radius: 18px;
  margin: 20px 0 30px 0;
  box-shadow: 0 0 25px rgba(222, 77, 15, 0.35);
  border: 2px solid #222;
}

.botao-whatsapp {
  background: linear-gradient(90deg, #1fb85b, #25d366);
  color: #fff;
  padding: 14px 24px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 12px;
  transition: 0.3s;
  box-shadow: 0 4px 12px rgba(37, 211, 102, 0.35);
}

.botao-whatsapp:hover {
  transform: scale(1.05);
  background: linear-gradient(90deg, #19a74f, #20c55a);
}

.menu {
  background-color: #dca0137b;
  padding: 18px;
  margin-top: 30px;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.4);
}

.menu a {
  color: #fff;
  margin: 0 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
}

.menu a:hover {
  color: #30c26f;
}

h2 {
  font-size: 24px;
  margin-top: 35px;
  margin-bottom: 20px;
}

.lista-servicos,
.lista-passos {
  background-color: #000000;
  display: inline-block;
  text-align: left;
  padding: 20px 300px;
  border-radius: 18px;
  margin: 1px;
  box-shadow: 0 4px 14px rgba(255, 255, 255, 0.35);
  border: 1px solid #ffffff;
  font-size: 25px;
}

.botao-compra {
  background: linear-gradient(90deg, #c7ce3e, #624a00);
  color: #111;
  border: none;
  padding: 18px 35px;
  border-radius: 14px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  transition: 0.3s;
  margin-top: 120px;
}

.botao-compra {
  display: block;
  margin: 80px auto 0 auto;
  text-decoration: none;
  width: fit-content;
}

p {
  font-size: 18px;
}

section,
div,
p,
ul,
ol {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}